.graphic-page-title {
  text-align: center;
  font-size: 2.5rem;
}

.branding-section {
  /* background-color: #f6f1eb; */
  background-color: var(--card-bg);
  padding-top: 4rem;
  padding-bottom: 4rem;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.branding-title {
  text-align: center;
  color: var(--highlight-color);
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.branding-grid {
  display: flex;
  justify-content: center;
  gap: 0rem;
  padding-bottom: 2rem;
  padding-top: 4rem;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project h2 {
  color: var(--highlight-color);
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.branding-image {
  height: 360px;
  transition: all 0.3s ease;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .branding-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: 2rem;
  }

  .project:nth-child(1) .branding-image {
    max-height: 300px;
  }

  .project:nth-child(2) .branding-image {
    max-height: 360px;
  }
}
