.profile-section {
  /* width: 100%; */
  background-color: #f6f1eb; /* Soft Sand */
  padding: 4rem 1rem;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.profile-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 1rem;
}

.profile-image {
  flex: 0 0 250px;
  max-width: 360px;
  /* border-radius: 16px; */
  /* box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25); */
  filter: brightness(0.9) contrast(1.05);
  margin-right: -30px;
}

.profile-text {
  flex: 1;
  max-width: 600px;
}

.profile-text h2 {
  font-size: 2rem;
  color: #1a1a1a;
  margin-bottom: 1rem;
}

.profile-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
  margin-bottom: 1.5rem;
}

.profile-icon-row {
  display: flex;
  align-items: center;

  gap: 1rem;
}

.icon-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile-icon {
  width: 32px;
  height: 32px;
  margin-top: 0.3rem;
  transition: filter 0.3s ease;
}

.profile-icon:hover {
  filter: brightness(0.8) contrast(10) sepia(5%) saturate(0.2) drop-shadow(0 0 2px var(--highlight-color));
  transition: filter 0.1s ease;
}

.profile-text button {
  background-color: var(--accent-color);
  color: #fff;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.profile-text button:hover {
  background-color: var(--highlight-color);
}

@media (max-width: 768px) {
  .profile-container {
    flex-direction: column;
    text-align: center;
  }

  .profile-image {
    margin-bottom: -1rem;
    margin-right: 10px;
  }

  .profile-text h2 {
    font-size: 1.6rem;
  }

  .profile-text p {
    font-size: 1rem;
  }

  .profile-icon-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .icon-group {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
