.profile-section {
  background-color: #f6f1eb;
  padding: 0;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.profile-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 1rem;
}

.profile-image {
  flex: 0 0 250px;
  max-width: 360px;
  filter: brightness(0.9) contrast(1.05);
  /* margin-right: -30px; */
}

.profile-text {
  flex: 1;
  max-width: 600px;
}

.profile-text h2 {
  font-size: 2rem;
  color: #1a1a1a;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.profile-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
  margin-bottom: 1.5rem;
}

.profile-icon-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile-icon {
  width: 32px;
  height: 32px;
  margin-top: 0.3rem;
  transition: filter 0.3s ease;
}

.profile-icon:hover {
  filter: brightness(0.8) contrast(140%) sepia(20%) saturate(10%);
  transition: filter 0.1s ease;
}

.cta-lightbg-button {
  background-color: var(--card-bg);
  color: var(--highlight-color);
  padding: 1rem 1.25rem;
  width: 170px;
  border-radius: 30px;
  border: none;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0 8px 25px rgba(194, 144, 89, 0.2);
  transition: background 0.3s ease;
}

.profile-text button:hover {
  background-color: var(--highlight-color);
}

@media (max-width: 768px) {
  .profile-container {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .profile-image {
    max-width: 300px;
    margin: 0 auto;
  }

  .profile-text h2 {
    font-size: 1.6rem;
  }

  .profile-text p {
    font-size: 1rem;
    font-weight: bold;
  }

  .profile-icon-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .icon-group {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
