.web-projects {
  background-color: var(--primary-bg);
  /* padding: var(--section-padding); */
  text-align: center;
  max-width: var(--max-width);
  margin: 0 auto;
  padding-bottom: 150px;
}
.project-row {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: stretch;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}
.section-title {
  color: var(--highlight-color);
  font-size: 2rem;
  margin-bottom: 2rem;
}

.project-card {
  background-color: var(--card-bg);
  border-radius: 16px;
  padding: 2rem 1rem;
  max-width: 440px;
  flex: 1;
  min-width: 300px;
  margin: 0 auto;
  text-align: center;
}

.project-title {
  color: var(--highlight-color);
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.project-description {
  color: var(--muted-text);
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
  padding: 0 1rem;
}

.slide-image {
  width: 100%;
  border-radius: 8px;
}

.project-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.cta-button {
  background-color: var(--accent-color);
  color: white;
  padding: 0.6rem 1.2rem;
  font-family: var(--font-heading);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
  text-decoration: none;
}

.cta-button:hover {
  background-color: var(--highlight-color);
  color: var(--primary-bg);
}

.swiper-wrapper {
  border-radius: 8px;
  margin-bottom: 1rem;
}
@media (max-width: 1200px) {
  .project-row {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .project-card {
    padding: 1.2rem 0.8rem;
    max-width: 360px;
  }

  .project-description {
    font-size: 0.85rem;
  }

  .project-row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 389px) {
  .project-card {
    max-width: 330px;
  }
}
